body[data-theme='dark'] {
  @import '../dark-slider.scss';

  .slider-tab {
    background-color: var(--secondary-color);
  }

  .title-styles {
    color: white;
  }

  .slider-image {
    border: 5px solid var(--secondary-color);
  }

  .language {
    background-color: #494949;
  }

  .link-href {
    color: white;
  }

  .project-date {
    background-color: #918e97;
    color: white;
  }

  //   #about {
  //     background-color: var(--primary-color-darker);
  //     .polaroid span {
  //       background: var(--primary-color);
  //     }
  //     .card {
  //       background: var(--secondary-color);
  //     }
  //     .card-body {
  //       background-color: var(--primary-color) !important;
  //     }
  //   }

  #portfolio {
    background: var(--primary-color-darker);
    .card {
      background-color: var(--secondary-color);
    }
    .section-title {
      color: var(--secondary-color) !important;
    }
    .foto div {
      background: #6d6d6d;
    }
    .project-title-settings {
      color: white;
    }
    .project-date {
      background-color: var(--primary-color-darker);
    }
  }

  #resume {
    background: var(--primary-color-darker);
    .section-title {
      color: var(--secondary-color) !important;
    }

    .experience-badge {
      background: var(--secondary-color) !important;
      color: var(--primary-color-darker) !important;
    }

    .main-badge {
      background: var(--primary-color) !important;
    }

    .vertical-timeline-element-date {
      color: var(--secondary-color) !important;
    }

    .vertical-timeline-element-icon {
      background: var(--secondary-color);
      color: var(--primary-color);
    }
    @media only screen and (max-width: 1169px) {
      .vertical-timeline-element-date {
        color: black;
      }
    }
  }

  .modal-inside .modal-content {
    background: var(--primary-color-darker);
    color: var(--secondary-color);
    .modal-description {
      color: var(--secondary-color);
    }
    .skills-icon {
      color: var(--secondary-color);
    }
  }

  .close-icon {
    color: var(--secondary-color);
  }

  .awssld__next,
  .awssld__prev {
    color: var(--secondary-color) !important;
    outline: none !important;
  }
}
